

.container{
	background-color: #BDF0F2;
	width: 100%;
	height: 100%;
	border: 1px solid green;
	font-family: 'courier new', sans-serif;
	
}

.form-container
{
	background-color: #43D8DE;
	width: 490px;
	height: 350px;
	padding: 12px;
	//border: 1px solid green;
	border-radius: 1.8%;
	margin: 15% auto;
}

form h1
{
	text-align: center;
	font-weight: 700;
	color: #333632;
}

.field-container
{
	width: 90%	;
	margin:7px 2px;
	padding: 15px 12px;
}
.field-container label
{
	margin:1px 14.6px;
	padding: .8;
	font-weight: bold;
}


.field-container input
{
	
	background-color: lightblue;
	width: 100%;
	height: 25px;
	border-radius:50px;
	padding:5px;
}

input:focus
{
	background-color: #F4F7F8;
  	border: .8px groove #F2F2F2;
}

#btn-login
{
	background-color: #008CBA;
	color: white;
	width: 97px;
	padding: 7px 3px;
	margin-top: 0px;
	float:right;
	border-radius: 15px;
}

#btn-login:hover
{
	cursor: pointer;
	background-color: #2F807D;
	border-style: dashed;
	border-color: darkcyan;
	border-radius: 50px;
	color:#C4F5F2;
}